/*
Questionnaire Styles
====================
*/

.likert-question {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: column;
}

.likert-question > h3,
.likert-question > p {
  flex: 100%;
}

.likert-question label {
  display: flex;
  text-align: center;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: baseline;
}

.likert-question input {
  margin-top: var(--space-xs);
  margin-right: var(--space-s);
}

.multi-select-question,
.single-select-question {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: var(--space-s);
  justify-content: start;
  align-items: center;
}

.likert-question label,
.multi-select-question label,
.multi-select-question input,
.single-select-question label,
.single-select-question input {
  margin-bottom: var(--space-xs);
}

.multi-select-question > h3,
.single-select-question > h3 {
  grid-column-start: span 2;
}

.free-form-question > p,
.likert-question > p,
.number-question > p,
.multi-select-question > p,
.single-select-question > p,
.text-question > p {
  margin-bottom: 0;
}

.free-form-question > p,
.likert-question > p,
.number-question > p,
.text-question > p {
  margin-top: var(--space-m);
}

.multi-select-question > p,
.single-select-question > p {
  margin-top: var(--space-xs);
  grid-column-start: span 2;
}

.invalid {
  border: var(--medium) solid var(--danger);
}

.required-inline,
.required > :nth-child(1)::before {
  color: var(--danger);
}

.required > :nth-child(1)::before {
  content: "* ";
  content: "* " / "Required question";
}

/* Desktop and tablet styles */
@media only screen and (min-width: 700px) {
  .likert-question {
    flex-direction: row;
  }

  .likert-question label {
    align-items: center;
    flex-direction: column;
  }

  .likert-question input {
    margin-right: 0;
  }
}
