/*
Common UI Styles
====================
*/

/* Status message styles */
.error {
  background-color: var(--danger);
}

.warning {
  background-color: var(--warning);
}

.success {
  background-color: var(--safe);
}

.error,
.warning,
.success {
  color: var(--dark);
  padding: var(--space-s);
  border-radius: var(--space-xs);
  display: grid;
  gap: var(--space-s);
  grid-template-areas:
    "a"
    "b";
  justify-items: center;
}

.error::before {
  background-image: url("../img/error.svg");
}

.warning::before {
  background-image: url("../img/warning.svg");
}

.success::before {
  background-image: url("../img/success.svg");
}

.error::before,
.warning::before,
.success::before {
  content: "";
  width: 3rem;
  height: 3rem;
  background-size: cover;
  display: block;
}

/* Hiding/unhiding styles */
.hidden {
  display: none;
}

.smooth-hide {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: all cubic-bezier(0.2, 0.6, 0.4, 1);
}

/* Element interaction styles */
.highlighted,
.highlighted input[type="file"] {
  border: var(--medium) solid var(--primary);
}

@media only screen and (min-width: 700px) {
  .error,
  .warning,
  .success {
    align-items: center;
    justify-items: start;
    grid-template-columns: auto 1fr;
    grid-template-areas: "a b";
  }
}
