* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --bg: #f0f0f0;
  --fg: black;
  --card: white;
  --input: var(--card);
  --accent: #acacac;
  --primary: #00a6ff;
  --primary-alt: #1f87ff;
  --primary-shade: #0086ce;
  --secondary: #4f4f4f;
  --secondary-alt: #303030;
  --light: #fff;
  --dark: #000;
  --shade: #ebebeb;
  --shadow: 0 1rem 1rem var(--shade);
  --danger: #f7695f;
  --danger-alt: #f5312e;
  --warning: #fa8728;
  --safe: #48ad88;
  --link: #0056b3;
  --link-active: #ff1f44;
  --link-visited: #7828c8;
  --main-w: 95%;
  --space-xs: 0.5rem;
  --space-s: 1rem;
  --space-m: 1.25rem;
  --space-l: 1.5rem;
  --thin: 0.05rem;
  --medium: 0.1rem;
  --border: var(--thin) solid var(--accent);
  --button-shadow: inset 0 0.5rem 0.5rem rgb(0, 0, 0, 0.2);
}

/* Base element styles */
html {
  scroll-behavior: smooth;
}

body {
  font-size: 100%;
  line-height: 1.5;
  color: var(--fg);
  background: var(--bg);
}

a {
  color: var(--link);
  text-underline-position: under;
}

a:active {
  color: var(--link-active);
}

a:visited {
  color: var(--link-visited);
}

h1,
h2,
h3 {
  margin-bottom: var(--space-m);
}

h4 {
  margin-bottom: var(--space-xs);
  border-bottom: var(--border);
}

p,
span,
ul {
  margin-bottom: var(--space-s);
}

table,
figure {
  margin-bottom: var(--space-l);
}

ul {
  padding-left: var(--space-l);
}

code {
  font-family: monospace;
  padding: var(--space-xs);
  border-radius: var(--space-xs);
  color: var(--bg);
  background: var(--secondary-alt);
}

code,
pre {
  overflow-x: auto;
  overflow-y: hidden;
}

pre > code {
  line-height: 1;
  padding: 0 var(--space-xs);
  display: block;
}

figcaption {
  text-align: center;
}

caption {
  margin-bottom: var(--space-m);
}

figcaption,
caption {
  font-style: italic;
}

main {
  width: var(--main-w);
  margin: var(--space-l) auto;
}

dialog.fallback {
  display: block;
}

dialog[open],
dialog[aria-hidden="false"],
dialog.fallback {
  color: inherit;
  position: fixed;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: var(--main-w);
}

dialog header h4 {
  border: none;
}

dialog header {
  display: flex;
  justify-content: space-between;
  grid-area: header;
  margin-bottom: var(--space-xs);
}

.close {
  padding: var(--space-xs);
  border-radius: var(--space-xs);
}

.card {
  padding: var(--space-s) var(--space-s) var(--space-s);
  border: var(--border);
  border-radius: var(--space-xs);
  margin-bottom: var(--space-l);
  background: var(--card);
  box-shadow: var(--shadow);
}

table {
  border: var(--border);
  border-collapse: collapse;
}

th,
td {
  padding: var(--space-xs);
  border: var(--border);
}

th {
  background: var(--secondary);
  color: var(--bg);
}

td {
  background: var(--card);
}

tr:nth-of-type(even) > td {
  background: var(--shade);
}

table ul {
  margin-bottom: 0;
}

/* Input styles */
input[type="number"],
input[type="text"] {
  padding: var(--space-xs);
}

input[type="number"],
input[type="text"],
textarea {
  color: inherit;
  border: var(--border);
  background: var(--input);
}

input[type="number"]::placeholder,
input[type="text"]::placeholder,
textarea::placeholder {
  color: var(--accent);
}

input[type="number"],
input[type="text"],
input[type="submit"],
textarea,
button {
  font-size: inherit;
  border-radius: var(--space-xs);
}

input[type="submit"],
button {
  border: var(--border);
  padding: var(--space-s);
}

input[type="submit"],
button.primary {
  background: var(--primary);
  color: var(--dark);
}

button {
  border: none;
  background: var(--secondary);
  color: var(--bg);
}

button:hover {
  background: var(--secondary-alt);
}

button.delete {
  background: var(--danger);
  color: var(--dark);
}

button.delete:hover {
  background: var(--danger-alt);
}

button.primary:hover {
  background: var(--primary-alt);
}

button:active {
  box-shadow: var(--button-shadow);
  transform: translateY(0.05rem);
}

button:disabled {
  opacity: 50%;
  cursor: not-allowed;
}

textarea {
  width: 100%;
  max-width: 100%;
  resize: vertical;
  padding: var(--space-s);
}

legend {
  padding: 0 var(--space-xs) 0 var(--space-xs);
}

fieldset {
  border-radius: var(--space-xs);
  border: var(--border);
  padding: var(--space-xs) var(--space-s);
  margin-bottom: var(--space-xs);
}

fieldset > label {
  display: grid;
  column-gap: var(--space-s);
  grid-template-columns: auto 1fr;
  align-items: center;
}

details {
  margin-bottom: var(--space-m);
}

/* Questionnaire summary styles */
#questionnaire-list {
  display: grid;
}

#add {
  margin: 0 auto var(--space-m);
}

#questionnaire-list h2,
#add,
.summary {
  grid-column-start: span 2;
}

.summary h3 {
  padding-bottom: var(--space-xs);
  border-bottom: var(--border);
}

.summary > footer {
  display: flex;
  align-items: center;
}

.summary > a {
  justify-self: left;
}

.summary .review {
  margin-right: var(--space-l);
}

.summary a,
.summary button {
  width: max-content;
  margin-top: var(--space-m);
}

.share {
  margin-left: auto;
}

.summary > span,
#download {
  margin-bottom: var(--space-l);
}

/* Dialog styles */
#upload[open],
#upload[aria-hidden="false"],
#upload.fallback,
#share[open],
#share[aria-hidden="false"],
#share.fallback {
  display: grid;
  align-items: center;
  gap: var(--space-xs);
}

#share[open],
#share[aria-hidden="false"],
#share.fallback {
  grid-template-areas:
    "header"
    "share-text"
    "share-output"
    "share-link"
    "share-copy";
}

#share-text {
  grid-area: share-text;
}

#share-link {
  resize: none;
  grid-area: share-link;
  padding: var(--space-s) var(--space-xs);
  overflow: hidden;
  white-space: nowrap;
  height: min-content;
}

#share-copy {
  grid-area: share-copy;
  width: max-content;
}

#upload[open],
#upload[aria-hidden="false"],
#upload.fallback {
  grid-template-areas:
    "header"
    "upload-text"
    "upload-file"
    "upload-submit";
}

#upload-text {
  grid-area: upload-text;
}

#upload-file {
  grid-area: upload-file;
}

#upload-submit {
  width: max-content;
  grid-area: upload-submit;
}

/* Status message styles */
.error {
  background: var(--danger);
}

.warning {
  background: var(--warning);
}

.success {
  background: var(--safe);
}

.error,
.warning,
.success {
  color: var(--dark);
  padding: var(--space-s);
  border-radius: var(--space-xs);
  display: grid;
  gap: var(--space-s);
  grid-template-areas:
    "a"
    "b";
  justify-items: center;
}

.error::before {
  background-image: url("./img/error.svg");
}

.warning::before {
  background-image: url("./img/warning.svg");
}

.success::before {
  background-image: url("./img/success.svg");
}

.error::before,
.warning::before,
.success::before {
  content: "";
  width: 3rem;
  height: 3rem;
  background-size: cover;
  display: block;
}

/* Hiding/unhiding styles */
.hidden {
  display: none;
}

.smooth-hide {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: all cubic-bezier(0.2, 0.6, 0.4, 1);
}

/* Element interaction styles */
.highlighted,
.highlighted input[type="file"] {
  border: var(--medium) solid var(--primary);
}

/* Questionnaire styles */
.likert-question {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.likert-question > h3 {
  flex: 100%;
}

.likert-question label {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.likert-question input {
  margin-top: var(--space-xs);
}

.multi-select-question,
.single-select-question {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: var(--space-s);
  justify-content: start;
  align-items: center;
}

.likert-question label,
.multi-select-question label,
.multi-select-question input,
.single-select-question label,
.single-select-question input {
  margin-bottom: var(--space-xs);
}

.multi-select-question > h3,
.single-select-question > h3 {
  grid-column-start: span 2;
}

/* Tab styles */
button[role="tab"] {
  border: var(--border);
  background: var(--card);
  color: var(--fg);
  border-bottom: var(--thin) solid transparent;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  position: relative;
}

button[role="tab"][aria-selected="true"]::after {
  content: "";
  width: 100%;
  height: var(--thin);
  background: var(--card);
  position: absolute;
  bottom: calc(-2 * var(--thin));
  left: 0;
}

button[role="tab"][aria-selected="false"] {
  background: var(--bg);
}

section[role="tabpanel"] {
  border-top-left-radius: 0;
}

/* Individual response styles */
#individual-nav {
  margin-bottom: var(--space-l);
}

#previous-response {
  margin-right: var(--space-xs);
}

#next-response {
  margin-left: var(--space-xs);
}

#current-response-number {
  text-align: right;
  height: 3rem;
  width: 3rem;
  display: inline-block;
  padding-right: 0;
}

.response {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.answers {
  display: grid;
  grid-template-columns: min-content auto;
  column-gap: var(--space-s);
}

.answers,
.answers > h4 {
  grid-column-start: span 2;
}

/* Motion styles */
@media (prefers-reduced-motion) {
  html {
    scroll-behavior: auto;
  }
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: #323232;
    --fg: white;
    --card: #404040;
    --input: #525252;
    --accent: #777;
    --shade: #2e2e2e;
    --link: #bee1ff;
    --link-active: #ffc7d2;
    --link-visited: #e5d1f5;
    --secondary: #fff;
    --secondary-alt: #c2c2c2;
  }
}

/* Desktop and tablet styles */
@media only screen and (min-width: 700px) {
  :root {
    --main-w: 44em;
  }

  .error,
  .warning,
  .success {
    align-items: center;
    justify-items: start;
    grid-template-columns: auto 1fr;
    grid-template-areas: "a b";
  }

  #questionnaire-list {
    grid-template-columns: auto max-content;
  }

  #questionnaire-list > h2,
  #add {
    grid-column: auto;
  }

  #upload[open],
  #upload[aria-hidden="false"],
  #upload.fallback {
    grid-template-columns: auto auto;
    grid-template-areas:
      "header header"
      "upload-text upload-text"
      "upload-file upload-submit";
  }

  #upload-submit {
    justify-self: right;
  }

  #share[open],
  #share[aria-hidden="false"],
  #share.fallback {
    grid-template-columns: max-content auto;
    grid-template-areas:
      "header header"
      "share-text share-text"
      "share-output share-output"
      "share-link share-copy";
  }
}
