* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --bg: #f0f0f0;
  --fg: black;
  --card: white;
  --input: var(--card);
  --accent: #acacac;
  --primary: #00a6ff;
  --light: #fff;
  --shadow: 0 1rem 1rem #ebebeb;
  --danger: #f44336;
  --safe: #44a280;
  --main-w: 95%;
  --space-xs: 0.5rem;
  --space-s: 1rem;
  --space-m: 1.25rem;
  --space-l: 1.5rem;
  --border: thin solid var(--accent);
}

/* Base element styles */
body {
  font-size: 100%;
  line-height: 1.5;
  color: var(--fg);
  background: var(--bg);
}

h1,
h2,
h3 {
  margin-bottom: var(--space-m);
}

p {
  margin-bottom: var(--space-s);
}

main {
  width: var(--main-w);
  margin: 0 auto var(--space-l);
}

article {
  padding: var(--space-s) var(--space-s) var(--space-s);
  border-radius: var(--space-xs);
  margin-bottom: var(--space-l);
  background: var(--card);
  box-shadow: var(--shadow);
}

article h3 {
  padding-bottom: var(--space-xs);
  border-bottom: var(--border);
}

/* Input styles */
input[type="number"],
textarea {
  color: inherit;
  border: var(--border);
  background: var(--input);
}

input[type="number"]::placeholder,
textarea::placeholder {
  color: var(--accent);
}

input[type="number"],
input[type="submit"],
textarea {
  padding: var(--space-xs);
  font-size: inherit;
  border-radius: var(--space-xs);
}

input[type="submit"] {
  background: var(--primary);
  color: var(--light);
  border: none;
  padding: var(--space-s);
}

textarea {
  width: 100%;
  max-width: 100%;
}

/* Status message styles */
.error {
  background: var(--danger);
}

.success {
  background: var(--safe);
}

.error,
.success {
  color: var(--light);
  padding: var(--space-s);
}

/* Hiding/unhiding styles */
.hidden {
  display: none;
}

/* Questionnaire styles */
#questionnaire > #questions,
#questionnaire > #submit {
  display: none;
}

.multi-select-question,
.single-select-question {
  display: grid;
  grid-template-areas: "title title";
  grid-template-columns: auto 1fr;
  column-gap: var(--space-s);
  justify-content: start;
  align-items: center;
}

.multi-select-question label,
.multi-select-question input,
.single-select-question label,
.single-select-question input {
  margin-bottom: var(--space-xs);
}

.multi-select-question > h3,
.single-select-question > h3 {
  grid-area: title;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: #333;
    --fg: white;
    --card: #444;
    --input: #525252;
    --accent: #777;
    --shadow: 0 1rem 1rem #2e2e2e;
  }
}

/* Desktop and tablet styles */
@media only screen and (min-width: 700px) {
  :root {
    --main-w: 44em;
  }
}
