* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --bg: #f0f0f0;
  --fg: black;
  --card: white;
  --input: var(--card);
  --accent: #acacac;
  --primary: #00a6ff;
  --light: #fff;
  --dark: #000;
  --shade: #ebebeb;
  --shadow: 0 1rem 1rem var(--shade);
  --danger: #f44336;
  --safe: #44a280;
  --link: #bee1ff;
  --main-w: 95%;
  --space-xs: 0.5rem;
  --space-s: 1rem;
  --space-m: 1.25rem;
  --space-l: 1.5rem;
  --border: thin solid var(--accent);
}

/* Base element styles */
body {
  font-size: 100%;
  line-height: 1.5;
  color: var(--fg);
  background: var(--bg);
}

h1,
h2,
h3 {
  margin-bottom: var(--space-m);
}

p {
  margin-bottom: var(--space-s);
}

main {
  width: var(--main-w);
  margin: var(--space-l) auto;
}

article,
#share {
  padding: var(--space-s) var(--space-s) var(--space-s);
  border: var(--border);
  border-radius: var(--space-xs);
  margin-bottom: var(--space-l);
  background: var(--card);
  box-shadow: var(--shadow);
}

article h3 {
  padding-bottom: var(--space-xs);
  border-bottom: var(--border);
}

.summary > footer {
  display: flex;
}

.summary > a {
  justify-self: left;
}

.summary .review {
  margin-right: var(--space-s);
}

.summary a,
.summary button {
  width: max-content;
  margin-top: var(--space-m);
}

.share {
  margin-left: auto;
}

.summary > span,
#download {
  margin-bottom: var(--space-l);
}

/* Input styles */
input[type="number"],
textarea {
  color: inherit;
  border: var(--border);
  background: var(--input);
}

input[type="number"]::placeholder,
textarea::placeholder {
  color: var(--accent);
}

input[type="number"],
input[type="submit"],
textarea,
button,
a.btn-link {
  padding: var(--space-xs);
  font-size: inherit;
  border-radius: var(--space-xs);
}

input[type="submit"],
button,
a.btn-link {
  border: var(--border);
  padding: var(--space-s);
}

button,
a.btn-link {
  background: var(--fg);
  color: var(--bg);
}

input[type="submit"],
button.primary {
  background: var(--primary);
  color: var(--fg);
}

textarea {
  width: 100%;
  max-width: 100%;
  resize: vertical;
}

/* Share dialog styles */
#share[open],
#share[aria-hidden="false"] {
  color: inherit;
  position: fixed;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  gap: var(--space-xs);
  grid-template-columns: 1fr auto;
  grid-template-areas:
    "header header"
    "share-text share-text"
    "share-link share-copy"
    "share-output share-output";
  max-width: var(--main-w);
}

#share.hidden {
  display: none;
}

#share header {
  display: flex;
  justify-content: space-between;
  grid-area: header;
}

#share-text {
  grid-area: share-text;
}

#share-link {
  resize: none;
  grid-area: share-link;
  padding: var(--space-s) var(--space-xs);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#share-copy {
  grid-area: share-copy;
}

#share-close {
  padding: var(--space-xs);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--space-xs);
}

/* Status message styles */
.error {
  background: var(--danger);
}

.success {
  background: var(--safe);
}

.error,
.success {
  color: var(--light);
  padding: var(--space-s);
}

/* Hiding/unhiding styles */
.hidden {
  display: none;
}

/* Questionnaire styles */
.multi-select-question,
.single-select-question {
  display: grid;
  grid-template-areas: "title title";
  grid-template-columns: auto 1fr;
  column-gap: var(--space-s);
  justify-content: start;
  align-items: center;
}

.multi-select-question label,
.multi-select-question input,
.single-select-question label,
.single-select-question input {
  margin-bottom: var(--space-xs);
}

.multi-select-question > h3,
.single-select-question > h3 {
  grid-area: title;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: #323232;
    --fg: white;
    --card: #404040;
    --input: #525252;
    --accent: #777;
    --shade: #2e2e2e;
  }

  a {
    color: var(--link);
  }

  input[type="submit"],
  button.primary {
    color: var(--dark);
  }
}

/* Desktop and tablet styles */
@media only screen and (min-width: 700px) {
  :root {
    --main-w: 44em;
  }
}
